.App {
  text-align: center;
}

.todo-head {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  align-items: center;
  justify-content: left;
  font-size: calc(6px + 1vmin);
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.gradient-border {
  border-bottom: 8px solid;
  border-image-source: linear-gradient(to left, #ff8567, #abff4c);
  border-image-slice: 1;
}

.contents {
  display: block;
  direction: row;
}

.todo {
  width: 400px;
  display: inline-block;
  border: solid 3px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 10px 25px;
  padding: 10px;
}
.todo-due {
  float: right;
  margin: 0px;
}
.todo-close-button {
  float: right;
  margin: 0px;
}

.filter {
  padding-bottom: 20px;
  margin: 10px 0px;
  display: inline-block;
  width: 100%;
}
.filter-name {
  margin: 20px;
}